@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .font-story {
    font-family: var(--font-story-script), sans-serif;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --muted: 0 12% 90%;
    --muted-foreground: 0 12% 30%;
    --popover: 0 0% 97%;
    --popover-foreground: 0 0% 10%;
    --card: 0 0% 98%;
    --card-foreground: 0 0% 15%;
    --border: 0 0% 95%;
    --input: 0 0% 92%;
    --primary: 174 42% 65%;
    --primary-foreground: 174 42% 5%;
    --secondary: 174 30% 25%;
    --secondary-foreground: 174 30% 85%;
    --tertiary: #f1fff6;
    --quaternary: #c8ffdc;
    --quinary: #3c786e;
    --gray-200: #e5e7eb;
    --cyan-500: #06b6d4;
    --emerald-500: #10b981;
    --orange-500: #f97316;
    --yellow-500: #f59e0b;
    --accent: 0 0% 85%;
    --accent-foreground: 0 0% 25%;
    --destructive: 2 80% 24%;
    --destructive-foreground: 2 80% 84%;
    --ring: 174 42% 65%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
